/* div {
    border: 1px solid black;
} */
body{
    background-image: url(images/bg-index.jpg); 
    padding:5% 0% 0% 0%;
    font-family: 'Roboto';
}
.left{
    width:40%;
    display: inline-block;
    margin-left: 10%;
    color: white;
    vertical-align:top;
}
.right{
    width:40%;
    display: inline-block;
}
.btn1{
    /* background-color: #76e2fd; */
    background-color: #fcb529;
    padding: 10px 7px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn1:hover{
    background-color: white;
    color:#2e5bea ;
    transition: 0.6s;
    text-decoration: underline;
}
#one h1{
    font-size:45px;
    font-family: 'Oswald';
    font-weight:500;
}
#one h4{
    font-size:18px;
    font-weight: 300;
    margin-bottom: 25px;
}