body{
    background-image: url(images/bg-index.jpg); 
    padding:2% 0% 0% 0%;
    font-family: 'Roboto';
}
.btn1{
    background-color: #fcb529;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}
.btn1:hover{
    background-color:#2e5bea;
    /* color:#76e2fd ; */
    color: white;
    transition: 0.6s;
    text-decoration: underline;
}